Hi Team,

Please Find Connection Details Below.

IPR Number: {{ Iprmain_Number }}
IPRTasks Number: {{ Ipr_Number }}
Node: {{ SQL_Server }} is registerd in {{ Tsm_Server }}
Password: {{ Config_DefaultPassword }} 
IP: {{ Tsm_Ip }} 


Please let us know once configuration is done from client end server.


Thanks & Regards,
Automation Team

