Hi Team,

VM Shell creation Fail

The Automation is unable to create the VM on {{ Vc_Hostname }}.

Reason of failure: {{ Failure_Msg }}

Details:

IPR Detail: {{ IprDetails }}
Server Name: {{ Server_Name }}
CPU: {{ Cpu_Vcpu }}
Memory: {{ Memory_Vram }}
Requester mail: {{ RequesterMail }}
RU Type: {{ Ru_Type }}
Disk Size: {{ Disk_Size }}
Application Disk Size: {{ Application_Disk_Size }}
Nic: {{ Vnic }}

Thanks & Regards,
Automation Team 
