Hi Team,

VM Shell creation Task Sucessfull.

The Automation successfully create the VM on {{ Vc_Hostname }}.

Details:

IPR Detail: {{ IprDetails }}
Server Name: {{ Server_Name }}
Operating System: {{ Operating_System }}
CPU: {{ Cpu_Vcpu }}
Memory: {{ Memory_Vram }}
Requester mail: {{ RequesterMail }}
RU Type: {{ Ru_Type }}
Disk Size: {{ Disk_Size }}
Application Disk Size 1 : {{ Application_Disk_Size }} 
Application Disk Size 2 : {{ Application_Disk_Size_2 }}
Application Disk Size 3 : {{ Application_Disk_Size_3 }}
Application Disk Size 4 : {{ Application_Disk_Size_4 }}
Application Disk Size 5 : {{ Application_Disk_Size_5 }}
Application Disk Size 6 : {{ Application_Disk_Size_6 }}
Nic: {{ Vnic }}

Thanks & Regards,
Automation Team

