Hi Team,

VM Shell creation Failed...!!

Provided VLAN doesn't exist on VCenter - {{ Vc_Hostname }}, so automation proceeded to create it on VMware layer.

Vlan created successfully in Distributed Network switch/Standard Network switch - "{{ Vlan_To_Create }}".

Reason of Failure - "{{ Deploy_Vm.results[0].msg }}"

Kindly perform the required manual action to connect it to cluster.

IPR Detail: "{{ IprDetails }}"

VM Name: "{{ Server_Name }}"

Please work on it manually. Apologies for the inconvenience this may have caused you.

Thanks & Regards
Automation Team
